@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 203 87% 3%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --primary: 202, 100%, 14%;
    --primary-hover: 45, 7.8%, 20%, 0.15;
    --primary-foreground: 0 0% 98%;

    --secondary: 202 81% 86%;
    --secondary-foreground: 0 0% 9%;

    --accent: 22 81% 46%;
    --accent-foreground: 0 0% 98.75%;

    --border: 0 0% 89.8%;
  }
}

.embla__button__svg {
  width: 65%;
  height: 65%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
